table {
    border-width: 3px;
    border-color: red;
    border-style: solid;
}

caption {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

tr,th,td {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    width: 50px;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

tbody tr:nth-child(odd) {
    background-color: rgb(181, 201, 147);
}

tr:nth-child(even) {
    background-color: rgb(209, 209, 209);
}

thead tr:first-child {
    background-color: bisque;
}

tbody td:first-child {
    background-color: aqua;
}

tfoot {
    background-color: red;
}